# Basics
*.py[cod]
__pycache__
.local

# Logs
*.log

# Unit test / coverage reports
.coverage
.tox
.pytest_cache
htmlcov

# Celery
celerybeat-schedule

# Translations
*.mo
*.pot

# Vim
*~
*.swp
*.swo

# virtual environments
.env

# Cache
.cache/

# OSX
.DS_Store

# IDE's
.idea/
