[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
django-extensions = "*"
werkzeug = "*"
django-test-plus = "*"
coverage = "*"
django-coverage-plugin = "*"
ipython = "*"
ipdb = "*"
pytest-django = "*"
pytest-sugar = "*"
pytest-cov = "*"
codecov = "*"
freezegun = "*"
pylint = "*"
pylint-django = "*"
flake8 = "*"
isort = "*"
black = "*"

[packages]
django = "*"
gunicorn = "*"
gevent = "*"
raven = "*"
whitenoise = "*"
django-guardian = "*"
django-environ = "*"
djoser = "*"
python-dateutil = "*"
django-anymail = "*"
django-taggit = "*"
psycopg2 = "*"
psycopg2-binary = "*"
djangorestframework-simplejwt = "*"
djangorestframework = "*"
celery = "*"
drf-yasg = "*"

[requires]
python_version = "3.6"
